body {
    margin: 0;
}

.layoutContainer {
    display: flex;
    height: 99vh;
}

.layoutSidebar {
    flex: 1 30%;
    background-color: white;
    border-right: 2px solid lightgrey;
}

.layoutMap {
    flex: 1 66%;
}

.layoutMapControls {
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 350px;
    width: 270px;
    border: 1px solid black;
    border-radius: 10px 0 0 0;
    background-color: white;
    z-index: 999;
}