.contentContainer{
    width: 100%;
    height: 100%;
}

.rangeSelector{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 5%;
    left: 10%;
}

.newRange{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 10%;
    left: 10%;
}

.presets{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 20%;
    left: 10%;
}

.startDateLabel{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 3%;
    top: 22.5%;
}

.startDate{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 21%;
    left: 15%;
}

.endDateLabel{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 3%;
    top: 30%;
}

.endDate{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 22%;
    left: 15%;
}

.startTimeLabel{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 3%;
    top: 38.5%;
}

.startTime{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 26%;
    left: 15%;
}

.endTimeLabel{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 3%;
    top: 45.5%;
}

.endTime{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 28%;
    left: 15%;
}

.days{
    position: absolute;
    width: 80%;
    height: 5%;
    top: 30%;
    left: 10%;
}

.holiday{
    position: absolute;
    top: 82.5%;
    left: 10%;
}

.go{
    position: absolute;
    top: 90%;
    left: 30%;
    font-size: 2rem;
}