.map-options{
    position: fixed;
    background-color: #b9bcbf;
    bottom: 10px;
    left: 10%;
    width: 80%;
    min-width: 800px;
    height: 60px;
}
#seq {
    position: fixed;
    bottom: 40px;
    left: 20%;
}

.seq-button {
    position: fixed;
    bottom: 40px;
}

#newSeq-button {
    position: fixed;
    bottom: 20px;
    left: 20%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#reset-button {
    position: fixed;
    bottom: 20px;
    left: 33%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#remove-node-button {
    position: fixed;
    bottom: 20px;
    left: 45%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#remove-links-button {
    position: fixed;
    bottom: 20px;
    left: 60%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#link-button {
    position: fixed;
    bottom: 20px;
    left: 80%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

.reverse-seq-input{
    position: fixed;
    bottom: 20px;
    left: 70%;
}
