.marker1 {
    background-image: url('../img/1.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker2 {
    background-image: url('../img/2.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker3 {
    background-image: url('../img/3.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker4 {
    background-image: url('../img/4.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker5 {
    background-image: url('../img/5.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker6 {
    background-image: url('../img/6.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker7 {
    background-image: url('../img/7.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker8 {
    background-image: url('../img/8.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker9 {
    background-image: url('../img/9.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker10 {
    background-image: url('../img/10.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
.link-button {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

.reset-button {
    position: fixed;
    bottom: 50px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

.remove-button {
    position: fixed;
    bottom: 80px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}