.map-options{
    position: fixed;
    background-color: #FFFFFF;
    bottom: 10px;
    right: 5px;
    width: 250px;
    border-radius: 10px;
    height: 310px;
}

.mapboxgl-control-container{
    z-index: 1 !important;
    position: absolute;
    pointer-events: none;
}

#reverseSeq-button {
    position: absolute;
    right: 35px;
    bottom: 200px;
    width: 60px;
}

.reverse-seq-input{
    position: absolute;
    top: 18px;
    left: 25px;
    bottom: 197px;
   
}

#newSeq-button {
    position: absolute;
    left: 20px;
    bottom: 115px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#reset-button {
    position: absolute;
    left: 20px;
    bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#remove-node-button {
    position: absolute;
    left: 20px;
    bottom: 80px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#remove-links-button {
    position: absolute;
    left: 20px;
    bottom: 45px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#link-button {
    position: absolute;
    left: 20px;
    bottom: 150px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

