.seq {
    position: fixed;
    bottom: 170px;
    right: 0;
}

.seq-button {
    position: fixed;
    bottom: 170px;
    right: 0;
}

#newSeq-button {
    position: fixed;
    bottom: 140px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#reset-button {
    position: fixed;
    bottom: 110px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#remove-node-button {
    position: fixed;
    bottom: 80px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#remove-links-button {
    position: fixed;
    bottom: 50px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}

#link-button {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: .10rem;
    font-size: 0.85rem;
    /* color: #030303;
    background: #ffffff;
    border: 1px solid #030303; */
    cursor: pointer;
    padding: 0.25rem 0.85rem;
}