.layoutSidebar {
    overflow: auto;
    max-height: 100vh;
}

.sidebarContent {
    margin: 10px;
}

.user-created-factor-container {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}

.user-created-factor-container > * {
    margin: 5px 0;
}

.factor {
    border-radius: 2px;
    padding: 5px;
    margin: 5px 0;
}

.factor.active {
    background:#f003;
}
.factor.complete {
    background: #0f03;
}

.factor.inactive:hover {
    background: #00F5;
}

.factorName {
    font-style: italic;
    margin-bottom: 5px;
}

.instructions {
    font-weight: bold;
}

.bigButton {
    text-align: center;
    background: #00f1;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}
.bigButton:hover {
    background: #00F5;
}

.deleteButton {
    float: right;
    margin-left: 10px;
}